/*
THIS PAGE INCLUDES ALL OF THE STYLES FOR THE LANDING PAGES OF THE SITE
THIS CODE DOES NOT EFFECT THE USER'S PAGES
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
:root {
  /* --dark-yellow: #ffc429;
	--light-yellow: #ffe5a0;
	--text-color: black; */
  --dark-yellow: #ffd359;
  --darkest-yellow: #493502;
  --light-yellow: #ffe5a0;
  --lightest-yellow: #fff3d3;
  --nav: #ffffcc;
  --text-color: rgb(39, 39, 39);
  --shadow: black 0.1em 0.3em 0.9em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--light-yellow);
}
body,
html {
  height: 100% !important;
  overflow-x: hidden;
}
body {
  font-family: 'Merriweather', serif;
}
.error {
  color: red;
  text-align: center;
}
/* The grid container */
body {
  display: grid;
  width: 100vw;
  grid-template-columns: 100vw;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 48px 1fr 64px;
}
header {
  position: fixed;
  z-index: 500;
  width: 100vw;
  height: 48px;
  background-color: var(--dark-yellow);
  padding-left: 35px;
  padding-right: 35px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--light-yellow);
  padding-bottom: 50px;
  padding: 10px;
}
/* Style the footer */
footer {
  grid-area: footer;
  background-color: var(--dark-yellow);
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
  box-shadow: var(--shadow);
  z-index: 100;
}
/* image container */
.box2 {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 62.5px);
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 8px solid var(--dark-yellow);
  border-bottom: none;
  background-color: var(--dark-yellow);
  padding: 0;
  z-index: 50;
}
.logo {
  height: 100%;
  width: 100%;
}
.welcome_image {
  zoom: 1;
  background-image: url('../images/design_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  resize: both;
  height: 280px;
  width: 100%;
  box-shadow: var(--shadow);
  max-width: 830px;
  background-color: var(--text-color);
}

.welcome {
  background-color: white;
  padding-top: 10px;
  width: 100%;
  height: 280px;
  box-shadow: var(--shadow);
  max-width: 830px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome_text {
  transform: rotateZ(-2deg);
  font-size: 45px;
}
.mainlinks {
  height: 50px;
  align-items: center;
  display: flex;
}
.mainlink {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}

.mainlink {
  padding: 10px;

  text-decoration: none;
  position: relative;
  transition: all 0.6s ease-in;
  transition-timing-function: cubic-bezier(0.19, 0.715, 0.2, 1.395);
  overflow: hidden;
  display: block;
}

.mainlink:before {
  z-index: 1;
  transition: inherit;
  content: '';
  width: 90%;
  height: 8%;
  position: absolute;
  left: 5%;
  bottom: 8%;
  background-color: var(--text-color);
  transform: translateY(210%);
}

.mainlink:hover:before,
.mainlink:hover:after {
  transform: translateY(0);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 7px;
  border-left: 1px solid var(--text-color);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

@media (max-width: 700px) {
  body {
    grid-template-rows: 48px 1fr auto;
  }

  .main {
    padding: 10px;
  }
  .welcome_text {
    font-size: 30px;
  }
  .box2 {
    width: 170px;
    height: 170px;
  }
  .footer {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .footer > * {
    margin: 20px;
  }

  footer:nth-child(1) {
    order: 2;
  }
  footer:nth-child(2) {
    order: 1;
  }
  footer:nth-child(3) {
    order: 3;
  }
  .box2 {
    position: static;
  }
  .welcome_image {
    background-size: cover;
  }
}

@media (max-width: 600px) {
  .welcome_text {
    font-size: 25px;
  }
}

.apply-format {
  text-decoration: none;
  color: var(--darkest-yellow);
  font-size: 1.2rem;
  animation-name: wiggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all 1s ease;
}

.apply-format:hover {
  font-size: 1.4rem;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  33% {
    transform: rotateZ(1deg);
  }
  67% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

/*************************
ABOUT PAGE
*************************/

.about-content {
  padding: 15px;
  width: 100%;
  background-color: white;
}

.about-info {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

h2.center {
  margin: 15px 0;
}

.persons {
  display: flex;
  flex-direction: column;
}

.person {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 25px 0;
}

.person:nth-child(2n + 1) {
  align-self: flex-start;
}

.person:nth-child(2n + 1) .profile-pic {
  order: 1;
}

.person:nth-child(2n + 1) .profile-info {
  order: 2;
}

.person:nth-child(2n) {
  align-self: flex-end;
  text-align: right;
}

.person:nth-child(2n) .profile-pic {
  order: 2;
}

.person:nth-child(2n) .profile-info {
  order: 1;
}

.profile-pic,
.profile-info {
  width: 40vw;
  height: 40vw;
  max-width: 250px;
  max-height: 250px;
}

.profile-pic {
  background-repeat: no-repeat;
  border: 1px solid black;
}

/* Elias Proctor */
.persons .person:nth-child(1) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01479.JPG);
  background-size: 125%;
  background-position: 45% 10%;
}

/* Robert Alden */
.persons .person:nth-child(2) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01469.JPG);
  background-size: 125%;
  background-position: 43% 8%;
}

/* Kayla Snyder */
.persons .person:nth-child(3) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01474.JPG);
  background-size: 125%;
  background-position: 42% 7%;
}

/* Cynthia Dy */
.persons .person:nth-child(4) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01476.JPG);
  background-size: 125%;
  background-position: 47.5% 100%;
}

/* Ryan Cox */
.persons .person:nth-child(5) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01472.JPG);
  background-size: 125%;
  background-position: 55% 0%;
}

/* Kadar Lamsal */
.persons .person:nth-child(6) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01471.JPG);
  background-size: 125%;
  background-position: 45% 27%;
}

/* Ryan Pierce */
.persons .person:nth-child(7) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01482.JPG);
  background-size: 125%;
  background-position: 58% 40%;
}

/* Michael Argyros */
.persons .person:nth-child(8) .profile-pic {
  background-image: url(/~team2/project/images/about_us_photo/DSC01478.JPG);
  background-size: 125%;
  background-position: 57% 20%;
}

.person:hover .profile-pic {
  transform: rotateY(360deg);
  transition: all 0.75s;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.role-privileges li {
  margin-left: 50px;
}

/****************
OVERALL FEATURES TABLE in ABOUT PAGE
*****************/

.feature-table-div {
  width: 100%;
  overflow-x: auto;
}

.feature-table-div table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: var(--light-yellow);
}

.feature-table-div tr:nth-child(1) > td {
  background-color: var(--dark-yellow);
}

.feature-table-div tr > td:nth-child(1) {
  background-color: var(--dark-yellow);
}

.feature-table-div td {
  border: 1px solid black;
  padding: 3px;
}

.cell {
}

.fill-cell {
  background-color: #ff3434;
}

h2.center {
}

.show-more-button,
.about-info-content,
.about-info-content + h2,
.about-info hr {
  margin: 15px 0;
}

h2.center {
  margin-bottom: 0;
}

.show-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.show-more-button {
  height: 30px;
  width: 30px;
  clip-path: polygon(
    25% 0%,
    75% 0%,
    75% 50%,
    100% 50%,
    50% 100%,
    0% 50%,
    25% 50%
  );
  transition: all 0.25s;
  color: var(--dark-yellow);
  background-color: var(--dark-yellow);
  outline: none;
  border: none;
  margin-top: 0;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: -30px;
}

.show-more-button:hover {
  cursor: pointer;
}

.show-more-button + .about-info-content {
  display: none;
}

.show-more-button.showing {
  transform: rotateZ(180deg);
}

.show-more-button.showing + .about-info-content {
  display: unset;
}

.backdrop {
  display: none;
  z-index: 501;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.backdrop.showing {
  display: unset;
}

.backdrop:hover {
  cursor: pointer;
}

.backdrop.showing + .use-case-design {
  display: unset;
}

.use-case-design {
  display: none;
  background-image: url(http://eliasproctor.com/admin/user_images/selfie.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 502;
  width: 90vw;
  height: 90vh;
  background-color: white;
  position: fixed;
  left: 5vw;
  top: 5vh;
  padding: 15px;
}

.use-case-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.use-case-button {
  margin: 5px;
  padding: 5px;
  background-color: var(--dark-yellow);
  text-align: center;
}

.use-case-button:hover {
  cursor: pointer;
}

.use-case-close-button,
.use-case-change-index-buttons > button {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  border: 1px solid black;
  color: white;
}

.use-case-change-index-buttons > button {
  background-color: var(--dark-yellow);
}

.use-case-close-button {
  background-color: #ff3434;
}

.use-case-change-index-buttons {
}

.change-use-case-buttons {
  display: flex;
  justify-content: space-between;
}
